@use "reset";
@use "variables/global";
@use "themes/light";
@use "themes/dark";


body, .app {
  background: var(--bg-color);
  color: var(--txt-color);
  width: 100%;
}

.app{
  width: inherit;
  max-width: var(--max-width-fhld);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 35px 10px;
}


