:root {
  //sizes
  --navbar-height: 60px;
  --footer-height: 192px;
  --max-width-fhld: 1920px;
  --icon-size: 30px;


  --gradient-color-text: linear-gradient(90deg, rgba(19, 176, 245, 1) 3%, rgba(231, 15, 170, 1) 100%);


  // Text Sizes
  --title-size: 3rem;
  --subtitle-size: 2rem;
}