:root {
  //sizes
  --navbar-height: 60px;
  --footer-height: 192px;
  --max-width-fhld: 1920px;
  --icon-size: 30px;
  --gradient-color-text: linear-gradient(90deg, rgb(19 176 245 / 100%) 3%, rgb(231 15 170 / 100%) 100%);


  // Text Sizes
  --title-size: 3rem;
  --subtitle-size: 2rem;
  --m-size: 1rem;
  --l-size: 2rem;
  --xl-size: 3rem;

  // Colors
  --tc-bg: #D7FFE0;
  --tc-color: #018C0F;
}