.projects-list {
  width: 100%;
  margin-top: 100px;
}

.projects-list_carousel_container {
  margin-top: 80px;
  padding: 10px 0 ;
}

.projects-list_carousel_container_item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}