.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.about-page-header {
  width: 80%;
}

.about-page-experience,
.about-page-education {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.about-page-experience-header,
.about-page-education-header {
  margin: 50px 0;

  h2 {
    font-size: var(--xl-size);
    color: var(--title-color-text);
  }
}

@media screen and (width <= 560px) {
  .about-page-header {
    width: 100%;
  }

  .about-page-experience-header,
  .about-page-education-header {
    margin: 30px 0;

    h2 {
      font-size: var(--l-size);
    }
  }
}

@media screen and (width <= 460px) {
  .about-page-header {
    h1 {
      font-size: var(--l-size);
    }

    h2 {
      font-size: var(1.25rem);
    }
  }
}

@media screen and (width <= 370px) {
  .about-page-header {
    h2 {
      font-size: var(--m-size);
    }
  }
}