.footer {
  width: 100%;
  margin-top: 200px;
  padding: 10px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 5px;
    width: 100%;
    background-color: var(--bg-footer-line-color);
    z-index: 1;
    opacity: 30%;
  }

  .footer-contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 60px;

    .footer-contacts-link {
      display: inline-block;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    .email-link, .phone-link, .social-link {
      height: 30px;
      line-height: 30px;
    }

    .email-link, .phone-link {
      font-size: 0.875rem;
      color: var(--invert-bg-footer-line-color);
    }

    .email-link {
      width: 240px;
    }

    .phone-link {
      width: 170px;
    }

    .social-link {
      width: 30px;
      svg {
        height: inherit;
        width: inherit;
        fill: var(--invert-bg-footer-line-color);
      }
    }
  }
}