.section-header {
  text-align: center;
}

.section-header-title {
  font-size: var(--xl-size);
  color: var(--title-color-text);
}

.section-header-subtitle {
  font-size: var(--l-size);
  color: var(--txt-color);
  margin-top: 10px;
}

@media screen and (width <= 560px) {
  .section-header-title {
    font-size: 2.5rem;
  }

  .section-header-subtitle {
    font-size: 1.5rem;
  }
}