.app-dark-theme {
  --bg-color: #191919;
  --invert-bg-color: #FFFFFF;
  --invert-bg-color-rgb: 255, 255, 255;
  --txt-color: #666666;
  --title-color-text: #D9D9D9;
  --bg-card-color: #363636;
  --txt-card-title-color: #CCCCCC;
  --txt-tech-card-color: #CCCCCC;
  --bg-footer-line-color: #42446E;
  --invert-bg-footer-line-color: #666666;


  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;
}

