:root, .app-light-theme {
  --bg-color: #FFF;
  --invert-bg-color: #191919;
  --invert-bg-color-rgb: 25, 25, 25;
  --txt-color: #666;
  --title-color-text: #42446E;
  --bg-card-color: #FFF;
  --txt-card-title-color: #000;
  --txt-tech-card-color: #42446E;
  --bg-footer-line-color: #666;
  --invert-bg-footer-line-color: #42446E;
  --skeleton-color: #fff;
  --skeleton-shadow: rgb(0 0 0 / 20%);
}