:root, .app-light-theme {
  --bg-color: #FFFFFF;
  --invert-bg-color: #191919;
  --txt-color: #666666;
  --title-color-text: #42446E;
  --bg-card-color: #FFFFFF;
  --txt-card-title-color: #000000;
  --txt-tech-card-color: #42446E;
  --bg-footer-line-color: #666666;
  --invert-bg-footer-line-color: #42446E;

  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
}