.theme-switcher {
  border: none;
  background: transparent;
  width: 30px;
  height: 30px;
}

.theme-switcher-opened-burger-menu {
  svg {
    color: var(--bg-color);
  }
}

.theme-switcher-icon {
  width: inherit;
  height: inherit;
  color: var(--invert-bg-color);

  &:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
  }
}