.navbar-actions {
  display: flex;
}

.navbar-actions-icon-links-container-icon-link,
.navbar-actions-icon-links-container-download-cv {
  cursor: pointer;

  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  svg {
    width: inherit;
    height: inherit;
    color: var(--invert-bg-color);
  }
}

.burger-navbar-actions-opened {
  position: relative;
  z-index: 3;

  svg {
    color: var(--bg-color)
  }

  .navbar-actions-theme-switcher,
  .navbar-actions-icon-links-container-icon-link {
    svg {
      fill: var(--bg-color);
    }
  }
}